@media #{$mobile} {
	body{
		// display: none;
	}
		#app{
			#lateral{
				display: none;
			}
			#navigation{
				.hamburguer{
					@include d_flex();
				}
				.navigation{
					display: none;
					position: absolute;
					top:100%;
					left: 0;
					width: 100%;
					height: calc(100vh - 85px);
					background: #fff;
					max-height: 0;
					overflow:hidden;
					@include transition(max-height .3s ease-out);
					@include flexbox(column, nowrap, center, stretch);
					&[class*="is_open"]{
						max-height: 10000px;
					}
					li{
						margin: 0 0 20px 0;
						// &:nth-child(2){
						// 	border-top: 1px solid blanco(3);
						// 	border-bottom: 1px solid blanco(3);
						// }
						&:last-child{
							margin-bottom: 0;
						}
						a{
							text-transform: uppercase;
							// font-family: $title_font;
							// font-weight: 500;
							// color:#fff !important;
							padding: 15px;
							font-weight: 400;
							@include flexbox(row, nowrap, center, center);
						}
						&:hover, &[class="active"]{
							a{
								background: $rosaito;
								color: #fff;
							}
						}
					}
				}
			}
			#home{
				min-height: 120vh;
				@include flexbox(row, nowrap, flex-start, center);
				@include linear-gradient(to right, transparent, transparent 20%, $rosaito 20%, $rosaito);
				.base{
					height: 50vw;
					margin-top: -50vh;
					// @include transform(translateY(-50vh));
					.child{
						&[class~="block"]{
							top:auto;
							bottom:0;
							@include transform(translate(10vh, 50vh));
						}
					}
				}
			}
			#about-us{
				// background: transparent;
				@include linear-gradient(to right, $clarito, $clarito 90%, transparent 90%, transparent);
				@include flexbox(column, nowrap, flex-start, center);
				.base{
					height: 35vw;
					width: 45vw;
					margin-top: 10vw;
					margin-bottom: 10vw;
					.child{
						&[class~="model"]{
							height: 40vw;
						}
					}
				}
			}
			#model{
				.base{
					height: 35vw;
					width: 45vw;
					.child{
						&[class~="model"]{
							height: 45vw;
						}
					}
				}
			}
			#contact{
				.content{
					&[class~="line"]{}
					&[class~="twice"]{
						@include align-items(stretch);
					}
				}
			}
		}
	.module{
		.content{
			&[class~="line"]{
				// @include flexbox(column, nowrap, flex-start, center);
				h2{}
			}
			&[class~="twice"]{
				@include flexbox(column, nowrap, flex-start, stretch);
				> *{
					// width: auto;
					min-width: 0;
					// padding-bottom: 30px;
					&:first-child{
						padding-right: 0;
					}
					&:last-child{
						padding-left: 0;
					}
				}
				> p, .wrapin, form{
					width: auto;
					// margin: 0;
					// @include box-sizing(border-box);
				}
			}
		}
	}
}
