// _general.scss
html{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	// overflow-x: hidden; // probably causing the infinite scroll issue on chrome android
	overflow-x: visible; // posible fix
}

::selection {
	background: $green;
	color: #fff;
}
::-moz-selection {
	background: $green;
	color: #fff;
}
h1,h2,h3,h4,h5,h6{
	font-family: $second_font;
}
svg{
	width: 100%;
	height: auto;
	// > *{
	// 	&:not([_fill]), &:not([fill]){
	// 		// fill: #000;
	// 	}
	// 	&[_fill*="#FFF"], &[_fill*="#fff"]{
	// 		fill: #fff;
	// 	}
	// 	&[_stroke*="#FFF"], &[_stroke*="#fff"]{
	// 		stroke: #fff;
	// 	}
	// 	&[_fill*="#000"]{
	// 		fill: #000;
	// 	}
	// 	&[_stroke*="#000"]{
	// 		stroke: #000;
	// 	}
	// 	&[_fill*="#986F33"], &[_fill*="#986f33"]{
	// 		//dorado
	// 		fill: #986F33;
	// 	}
	// 	&[_stroke*="#986F33"], &[_stroke*="#986f33"]{
	// 		//dorado
	// 		stroke: #986F33;
	// 	}
	// 	&[_fill*="#0D84FF"], &[_fill*="#0d84ff"]{
	// 		fill: #0d84ff;
	// 	}
	// 	&[_stroke*="#0D84FF"], &[_stroke*="#0d84ff"]{
	// 		stroke: #0d84ff;
	// 	}
	// }
}
i{
	&[class*='fa-']{
		font-size:1em;
		&:before, &:after{
			font-size:inherit;
		}
	}
}
.emoji{
	display: inline;
	width: 1.4em;
	height: 1.4em;
	margin-bottom: -0.3em;
	font-size: inherit;
	user-select: none; // unselectable
	touch-action: manipulation; // disables tap zoom
}
img:not(.emoji){
	text-align: center;
	overflow: hidden;
	&:before{
		content: 'No se pudo cargar la imagen </3';
		background: #000;
		display: inline-block;
		padding: 30px 30px 30px 20px;
		font-weight: 400;
		color: $secondary;
		z-index: 1;
	}
	&:after{
		content: '';
		display: block;
		background:#000;
		z-index: 0;
		width: 20px;
		height: 100%;
		position: absolute;
		top: 0;
		left:0;
	}
}
img:not(.emoji) {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.hidden{
	display: none;
	opacity: 0;
	visibility: hidden;
	color: transparent;
}
.icon{
	height: auto;
	margin: 0;
	@include flexbox(row, nowrap, center, center);
	&[data-invert]{
		@include transform(rotate(180deg));
	}
	&[data-size~="_35"]{
		width: 35px;
		font-size: 35px;
	}
	&[data-size~="_25"]{
		width: 25px;
		font-size: 25px;
	}
	&[data-size~="_20"]{
		width: 20px;
		font-size: 20px;
	}
	&[data-size~="_15"]{
		width: 15px;
		font-size: 15px;
	}
}
.module{
	height: auto;
	min-height: 100vh;
	overflow: hidden;
	@include box-sizing(border-box);
	.base{
		overflow: visible;
		.child{
			position: absolute;
			top: 0;
			left: 0;
			&[class~="block"]{
				
			}
			&[class~="pattern"]{
				
			}
		}
	}
	.model{
		background: #fff;
		padding: 15px;
		@include box-sizing(border-box);
		img{
			height: 100%;
			width: auto;
		}
	}
	.block{
		display: block;
		background: #fff;
		border: 15px solid #fff;
		padding: 30px;
		h2, h3{
			font-size: 60px;
			color: rgba(0,0,0,.5);
			font-family:$second_font;
			text-transform: uppercase;
			text-align: center;
			// display: inline;
			// margin: 0 auto;
			// overflow: hidden;
		}
	}
	.pattern{
		display: block;
		background-color: transparent;
		background-image: url('./../assets/hatched.svg');
		background-repeat: repeat;
		background-size: 480px auto;
		opacity: .9;
	}
	.content{
		&[class~="line"]{
			@include flexbox(row, nowrap, flex-start, center);
			h2{
				margin: 0;
			}
		}
		&[class~="twice"]{
			@include flexbox(row, wrap, center, flex-start);
			> *{
				min-width: 260px;
				padding-bottom: 30px;
				&:first-child{
					padding-right: 30px;
				}
				&:last-child{
					padding-left: 30px;
				}
			}
			> p, .wrapin, form{
				width: 50%;
				margin: 0;
				@include box-sizing(border-box);
			}
			> p{}
			.wrapin{}
		}
		h2{
			font-size: 36px;
			font-family:$second_font;
			text-transform: uppercase;
			// text-align: center;
			margin-bottom: 30px;
		}
		p{
			margin-bottom: 30px;
			line-height: 1.5em;
			font-weight: 400;
			&:last-child{
				margin-bottom: 0;
			}
			b{
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		a{
			color: inherit;
			font-weight: 600;
			@include transition(color .3s ease-out);
			&:hover{
				color:$rosaito;
			}
		}
		.social{
			// padding: 15px;
			margin-left: 30px;
			@include flexbox(row, nowrap, flex-start, center);
			li{
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
				a{
					text-transform: uppercase;
					// font-family: $text_font;
					// font-weight: 500;
					color:#fff;
					// padding: 0 15px;
					font-weight: 300;
					// height: 45px;
					white-space: nowrap;
					@include font-size(6);
					@include transition(color .3s ease-out);
					@include flexbox(row, nowrap, center, center);
					&:hover{
						// color:#fff;
					}
				}
			}
		}
		form{
			@include flexbox(column, nowrap, flex-start, stretch);
			> *{
				margin-bottom: 10px;
				// border-radius: 5px;
				// font-weight: 400;
				&:last-child{
					margin-bottom: 0;
				}
				&[data-invalid]{
					border-color: $red !important;
				}
			}
			input:not([type~="submit"]), textarea{
				padding: 10px;
				background: $rosaito;
				border:1px solid #fff;
				color: #fff;
				// @include font-size(4);
				&:focus{
					background: rgba(255,255,255,.5);
				}
			}
			.submit{
				input{
					background: transparent;
					float: right;
					text-align: right;
					font-size: 12px;
					color: $rosaito;
					font-weight: 700;
					padding: 5px 10px;
					@include transition(color .3s ease-out);
					&:hover{
						color: #fff;
						cursor: pointer;
					}
				}
			}
		}
	}
}