@font-face{
    font-family: 'DIN Neuzeit Grotesk LT W01 BdCn';
    font-style: normal;
    font-weight: normal;
    src: url('./../assets/dinneuzeitgrotesk_tw01/DINNeuzeitGroteskLTW01BdCn.eot'); /* IE9 Compat Modes */
    src: 
        local('DIN Neuzeit Grotesk LT W01 BdCn'),
        url('./../assets/dinneuzeitgrotesk_tw01/DINNeuzeitGroteskLTW01BdCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./../assets/dinneuzeitgrotesk_tw01/DINNeuzeitGroteskLTW01BdCn.woff2') format('woff2'), /* Super Modern Browsers */
        url('./../assets/dinneuzeitgrotesk_tw01/DINNeuzeitGroteskLTW01BdCn.woff') format('woff'), /* Pretty Modern Browsers */
        url('./../assets/dinneuzeitgrotesk_tw01/DINNeuzeitGroteskLTW01BdCn.ttf')  format('truetype'), /* Safari, Android, iOS */
}