<template>
	<div id="app">
		<!-- <HelloWorld msg="Welcome to Your Vue.js App"></HelloWorld> -->
		<aside id="lateral">
			<ul class="nav">
				<li>
					<a href="https://www.facebook.com/people/VirtualNet-Santa-Marta/100017849621954" target="_blank">
						<i class="fab fa-facebook-f icon" data-size="_20"></i></i>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/virtualnetsantamarta/" target="_blank">
						<i class="fab fa-instagram icon" data-size="_20"></i>
					</a>
				</li>
				<!-- <li>
					<a href="https://twitter.com/Forcebytrend1" target="_blank">
						<i class="fab fa-twitter icon" data-size="_25"></i>
					</a>
				</li> -->
			</ul>
		</aside>
		<nav id="navigation">
			<ul class="logo">
				<li>
					<h1 class="hidden">VirtualNet Studios</h1>
					<a href="#" @click.prevent="moveTo('#')">
						<svgicon name="nlogo" :original="true"></svgicon>
					</a>
				</li>
			</ul>
			<ul :class="[{'is_open' : mNavOpen},'menu', 'navigation']">
				<li :class="{'active' : activo == 'home'}">
					<a href="#" @click.prevent="moveTo('#')">Inicio</a>
				</li>
				<li :class="{'active' : activo == 'about-us'}">
					<a href="#about-us" @click.prevent="moveTo('#about-us')">Nosotros</a>
				</li>
				<li :class="{'active' : activo == 'model'}">
					<a href="#model" @click.prevent="moveTo('#model')">Modelo Webcam</a>
				</li>
				<li :class="{'active' : activo == 'contact'}">
					<a href="#contact" @click.prevent="moveTo('#contact')">Contacto</a>
				</li>
			</ul>
			<ul class="menu hamburguer">
				<li v-if="mNavOpen">
					<a href="#" @click.prevent="mNavOpen = false">
						<i class="fas fa-times icon" data-size="_25"></i>
					</a>
				</li>
				<li v-else>
					<a href="#" @click.prevent="mNavOpen = true">
						<i class="fas fa-bars icon" data-size="_25"></i>
					</a>
				</li>
			</ul>
		</nav>
		<section id="home" class="module">
			<div class="model base">
				<img src="./assets/m1.jpg" alt="foto de modelo">
				<div class="block child">
					<h3>Pasión por la perfeccion</h3>
					<a @click.prevent="moveTo('#contact')" class="join">
						Únete a VirtualNet<i class="material-icons icon" data-size="_35" data-invert>keyboard_backspace</i>
					</a>
				</div>
				<div class="pattern child"></div>
			</div>
		</section>
		<section id="about-us" class="module">
			<div class="pattern base">
				<div class="model child">
					<img src="./assets/m2.jpg" alt="foto de modelo">
				</div>
			</div>
			<div class="content">
				<h2>¿Quiénes Somos?</h2>
				<p>
					<b>virtualnet</b> es una Compañía de exportación de servicios de entretenimiento webcam para adultos con altos estándares de calidad y procesos empresariales que garantizan profesionalismo y experiencia.
				</p>
				<p>
					Nuestro objetivo principal es el de interactuar con usuarios del mundo entero a través de la Internet, realizando transmisiones en vivo mediante cámaras de video con modelos profesionales. Tenemos amplia trayectoria, somos el mejor estudio de Santa Marta y toda la Costa Caribe de Colombia. Contamos con más de 8 años en la industria del modelaje webcam,
				</p>
				<p>
					Manejamos páginas francesas y americanas donde las modelos interactúan, hablan y hacen video chat con personas que están al otro lado del mundo. Exclusivamente por internet.
				</p>
			</div>
		</section>
		<section id="model" class="module">
			<div class="content title">
				<h2>Modelo Webcam</h2>
			</div>
			<div class="pattern base">
				<div class="model child">
					<img src="./assets/m3.jpg" alt="foto de modelo">
				</div>
			</div>
			<div class="content twice">
				<p>
					Ser modelo webcam es toda una profesión artística. Se necesita disciplina, auto educación, trabajar más de seis horas al día y tener ideas innovadoras para llamar la atención de miles de personas que navegan en Internet. La modelo virtual utiliza las habilidades de comunicación con personas de diferentes rincones del mundo.
				</p>
				<p>
					Trabajar como modelo webcam te brinda la oportunidad de dar a conocer tus mejores cualidades, de descubrir el gran potencial que tienes como mujer sexy, coqueta, extrovertida e intelectual, ganarás confianza en ti, podrás realizar tus sueños, gozarás de excelentes ingresos, estarás acompañada de un gran equipo de profesionales que te darán asesoría y acompañamiento constante para tu desarrollo.
				</p>
			</div>
		</section>
		<section id="contact" class="module">
			<div class="content line">
				<h2>Contacto</h2>
				<ul class="social">
					<li>
						<a href="https://www.facebook.com/people/VirtualNet-Santa-Marta/100017849621954" target="_blank">
							<i class="fab fa-facebook-f icon" data-size="_20"></i></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/virtualnetsantamarta/" target="_blank">
							<i class="fab fa-instagram icon" data-size="_20"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="content twice">
				<div class="wrapin">
					<p>
						Todos los beneficios que puedes obtener en una discreta ubicación de la Ciudad.
					</p>
					<p>
						Nos encontramos en una zona mixta de Santa Marta con varias rutas de acceso. Pensando siempre en el bienestar de nuestras modelos tenemos todos los servicios necesarios para su comodidad. El estudio cuenta con Rooms tipo europeos y con tecnología de alta gama para sus transmisiones; son cómodos, amplios y personalizados.  Con espacios para cada una, garantizándoles así privacidad y confianza.
					</p>
					<p>
						Nuestro Studio es la viva muestra de profesionalismo y estructura organizacional para el confort de todos.
					</p>
					<br>
					<p>
						Cel: {{telefono}} Mail: {{correo}}
					</p>
					<p>
						© 2019 BY <a href="https://www.trendstudios.co/" target="_blank">TREND STUDIOS</a> FOR VIRTUARNET
					</p>
				</div>
				<form :action="'https://formspree.io/'+correo" method="post" autocomplete="off">
					<!-- <h3>{{ (contact.nombre) ? 'Hola "'+contact.nombre+'". Cuentanos tu inquietud:': 'Habla con nosotros:'}}</h3> -->
					<!-- <label v-if="(!isValidName && contact.nombre) ? true : false" for="nombre">Nombre completo por favor</label> -->
					<input
						type="text"
						:data-invalid="(!isValidName && contact.nombre) ? true : false"
						v-model.lazy="contact.nombre"
						name="nombre"
						placeholder="Nombre">
					<!-- <label v-if="(!isValidEmail && contact.email) ? true : false" for="email">El correo es invalido</label> -->
					<input
						type="text"
						:data-invalid="(!isValidEmail && contact.email) ? true : false"
						v-model.lazy="contact.email"
						name="email"
						placeholder="Email">
					<!-- <label v-if="(!isValidMessage && contact.mensaje) ? true : false" for="mensaje">El mensaje es muy corto</label> -->
					<textarea
						name="mensaje"
						:data-invalid="(!isValidMessage && contact.mensaje) ? true : false"
						v-model="contact.mensaje"
						placeholder="Mensaje"
						cols="30"
						rows="10"></textarea>
					<div class="submit">
						<input
							type="submit"
							value="Enviar"
							name="submit"
							:disabled="!isValidForm">
					</div>
				</form>
			</div>
		</section>
	</div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'

export default {
	name: 'app',
	components: {
		// HelloWorld
	},
	data() {
		return {
			// variable: 'valor';
			contact: {
				nombre: '',
				email: '',
				mensaje: '',
			},
			mNavOpen: false,
			activo: 'home',
			telefono: window.__PRERENDER_INJECTED ? 'telefono' : '3103020167',
			correo: window.__PRERENDER_INJECTED ? 'email' : 'mymgroupdigital@gmail.com',
		}
	},
	methods: {
		// metodo: function(section) {
		// 	let _this = this;
		// 	//tu funcion
		// 	return
		// },
		debounced: function(delay, fn) {
			let timerId;
			return function (...args) {
				if (timerId) {
					clearTimeout(timerId);
				}
				timerId = setTimeout(() => {
					fn(...args);
					timerId = null;
				}, delay);
			}
		},
		moveTo: function(section, i) {
			let _this = this;
			_this.mNavOpen = false;
			if(section === '#' | section === ''){
				_this.activo = 'home';
				$('html, body').animate({scrollTop:0}, 300, 'swing');
			}else{
				var nPosition = $(section).position().top;
				if (nPosition != 0) {
					$('html,body').animate({scrollTop: nPosition}, 300);
				}
			}
			if(!i){
				history.pushState('', document.title, '/'+section);
			}
			return false;
		},
		setActive: function(activeTab){
			let _this = this;
			// console.log(activeTab);
			if(_this.activo !== activeTab){
				_this.activo = activeTab;
				history.pushState('', document.title, '/#'+activeTab);
			}
			return
		},
	},
	computed: {
		// computado(){
		// 	//contenido
		// },
		isValidName(){
			if(this.contact.nombre.length > 2){
				return true
			}
			return false
		},
		isValidEmail(){
			// var spart = this.contact.email.split('@');
			// if(spart.length === 2){
			// 	if(spart[0].length > 3 && spart[1].length > 3 && spart[1].includes('.')){
			// 		return true
			// 	}
			// }
			// return false
			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(this.contact.email);
		},
		isValidMessage(){
			if(this.contact.mensaje.length > 5){
				return true
			}
			return false
		},
		isValidForm(){
			if(this.isValidName && this.isValidEmail && this.isValidMessage){
				return true
			}
			return false
		},
	},
	// INICIA LIFEHOOKS
	// para mas detalles revise la documentacion de vue.js 2.0
	beforeCreate(){},
	created() {
		// el contenido ha sido creado y ahora hace parte del virtualDOM
		// free land
	},
	beforeMount(){},
	mounted() {
		// La plantilla a sido montada en el DOM
		let _this = this;
		var sections = $('.module');
		// var nav = $('nav');
		// var nav_height = nav.outerHeight();
		$(window).on('scroll', function () {
			var cur_pos = $(this).scrollTop();
			sections.each(function() {
				var top = $(this).offset().top;
				var bottom = top + $(this).outerHeight();
				if (cur_pos >= top && cur_pos <= bottom) {
					_this.setActive($(this)[0].id);
				}
			});
		});
	},
	beforeUpdate() {},
	updated() {},
	beforeDestroy() {
		// window.removeEventListener('scroll');
	},
	destroyed() {}
	// TERMINA LIFEHOOKS
}
</script>
