// main.scss
@import 'fonts/module';
@import 'base/module';
// @import 'components/module';
// @import 'pseudo/module';
// html{
// 	scroll-snap-type: proximity;
// 	scroll-snap-points-y: repeat(100vh);
// 	scroll-snap-type: y proximity;
// }
body{
	width: 100%;
	font-family: $main_font;
	// background: #000;
	overflow: hidden;
	// color: #fff;
	// @include flexbox(column, nowrap, flex-start, stretch);
	// &::-webkit-scrollbar{
	// 	width: 7px;
	// 	background-color: #000;
	// }
	// &::-webkit-scrollbar-thumb{
	// 	border-width:0;
	// }
}
	#app{
		// overflow: hidden;
		#lateral{
			width: auto;
			height: calc(100vh - 90px);
			position:fixed;
			right: 0;
			bottom:0;
			z-index: 10;
			// padding:0 7%;
			// background: rgba($blue, .8);
			@include transition(background .3s ease-out);
			@include flexbox(row, nowrap, center, center);
			@include box-sizing(border-box);
			.nav{
				// background: rgba(2,2,2, .5);
				padding: 15px;
				@include flexbox(column, nowrap, flex-start, center);
				li{
					margin-bottom: 30px;
					&:last-child{
						margin-bottom: 0;
					}
					a{
						text-transform: uppercase;
						// font-family: $text_font;
						// font-weight: 500;
						color:#000;
						// padding: 0 15px;
						font-weight: 300;
						// height: 45px;
						white-space: nowrap;
						@include font-size(6);
						@include transition(color .3s ease-out);
						@include flexbox(row, nowrap, center, center);
						&:hover{
							color:#fff;
						}
					}
				}
			}
			.hamburguer{
				display: none;
			}
		}
		#navigation{
			width: 100%;
			height: 90px;
			z-index: 11;
			// border-bottom: 1px solid transparent;
			background: #fff;
			position:fixed;
			top:0;
			left: 0;
			padding:0 10vw;
			@include transition(opacity .9s ease-out);
			@include box-sizing(border-box);
			@include flexbox(row, nowrap, space-between, center);
			.logo{
				// @include flex(1 1 auto);
				// opacity: 0;
				// @include transition(all .9s ease-out);
				li{
					a{
						display: block;
						background: $rosaito;
						padding: 5px;
						svg{
							display: block;
							width: 80px;
							height: 80px;
							// path{
							// 	// fill: url('#dorado');
							// 	&[_fill="none"]{
							// 		fill: none;
							// 	}
							// 	&:not([_fill="none"]){
							// 		fill: #fff;
							// 	}
							// }
						}
					}
				}
			}
			.menu{
				@include flexbox(row, nowrap, flex-end, center);
				li{
					margin-right: 5vw;
					a{
						text-transform: uppercase;
						color: #000;
						padding:15px 0;
						display: block;
						font-weight: 400;
						white-space: nowrap;
						@include transition(all .3s ease-out);
						@include font-size(2);
					}
					&:last-child{
						margin-right: 0;
					}
					&:hover, &[class="active"]{
						a{
							color: $rosaito;
						}
					}
				}
			}
			.hamburguer{
				display: none;
				margin-left:20px;
			}
			.social{
				margin-left:20px;
				li{
					a{
						padding: 5px;
						width: 15px;
						height: 15px;
						background: #000;
						color: #fff;
						border-radius: 50%;
						@include flexbox(row, nowrap, center, center);
					}
					&:hover{
						a{
							color: #fff;
						}
					}
				}
			}
		}
		#home{
			margin-top: 90px;
			padding:5vw 10vw;
			@include flexbox(row, nowrap, flex-start, flex-start);
			@include linear-gradient(to right, transparent, transparent 50%, $rosaito 50%, $rosaito);
			.base{
				height: 40vw;
				.child{
					&[class~="block"]{
						background: $clarito;
						top:90px;
						left: auto;
						right: 0;
						max-width: 360px;
						z-index: 3;
						@include transform(translate(20vw, 0));
						@include flexbox(column, nowrap, center, center);
						h3{
							margin-bottom: 30px;
						}
						.join{
							display: block;
							white-space: nowrap;
							color: rgba(0,0,0,.7);
							font-weight: 400;
							@include transition(all .3s ease-out);
							@include flexbox(row, nowrap, space-between, center);
							i{
								color: rgba(0,0,0,.5);
								margin-left:5vw;
								@include transition(all .3s ease-out);
							}
							&:hover{
								cursor: pointer;
								color:#000;
								i{
									color:#000;
								}
							}
						}
					}
					&[class~="pattern"]{
						z-index: 2;
						width: 80%;
						height: 140px;
						top:auto;
						bottom: 0;
						// left: -10vw;
						@include transform(translate(-10vw, 50%));
					}
				}
			}
		}
		#about-us{
			margin-top: 30px;
			padding:5vw 10vw;
			@include flexbox(row, nowrap, center, center);
			@include linear-gradient(to right, $clarito, $clarito 50%, transparent 50%, transparent);
			.base{
				height: 25vw;
				width: 35vw;
				margin-bottom: -5vw;
				margin-left: -5vw;
				margin-right: 15vw;
				.child{
					&[class~="model"]{
						left:5vw;
						top:auto;
						bottom:5vw;
						height: 30vw;
					}
				}
			}
			.content{
				overflow: visible;
				max-width: 320px;
				h2{
					overflow: visible;
					&:before{
						content: '';
						display: block;
						position: absolute;
						top:0;
						right: 0;
						width: 10vw;
						height: 10vw;
						background-color: transparent;
						background-image: url('./../assets/mancha_1.svg');
						background-repeat: repeat;
						background-size: contain;
						background-position: 50% 50%;
						@include transform(translate(0, -90%));
					}
				}
			}
		}
		#model{
			padding:5vw 10vw;
			@include flexbox(column, nowrap, center, center);
			.title{
				overflow: visible;
				h2{
					overflow: visible;
					&:before{
						content: '';
						display: block;
						position: absolute;
						top:0;
						left: 0;
						width: 10vw;
						height: 10vw;
						background-color: transparent;
						background-image: url('./../assets/mancha_2.svg');
						background-repeat: repeat;
						background-size: contain;
						background-position: 50% 50%;
						@include transform(translate(-100%, -30%));
					}
				}
			}
			.base{
				height: 25vw;
				width: 35vw;
				margin-top: 15vw;
				margin-bottom: 30px;
				margin-right: -30vw;
				.child{
					&[class~="model"]{
						left: auto;
						top:auto;
						right: 10vw;
						bottom:5vw;
						height: 35vw;
					}
				}
			}
			.twice{
				max-width: 800px;
				p{
					line-height: 1.2em;
				}
			}
		}
		#contact{
			min-height: 400px;
			max-width: 980px;
			background: $darks;
			margin: 0 auto;
			padding:5vw;
			.content{
				color: #fff;
				&[class~="line"]{
					margin-bottom: 30px;
				}
				&[class~="twice"]{
					@include align-items(center);
				}
			}
		}
	}
@import 'queries/module';